/* RESET E CONFIGURAÇÕES GERAIS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {

    background-color: rgb#000;
    background-image: url("assets/ha-um-fundo-preto-com-um-par-de-tesouras-e-um-pente-generativo-ai_1034574-75795.avif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    

}



h1 {
    text-align:center;
    color: rgb(0, 0, 0);

}

img {
    max-width: 100%;
    display:block; 
    height: auto;
    margin: 0 auto;
}